# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Environment variables
# -----------------------------
.env
.env.*
*.env

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# -----------------------------
# VSCode
# -----------------------------
.vscode/

# -----------------------------
# MacOS
# -----------------------------
.DS_Store

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Build
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Secrets
# -----------------------------
secrets.json
credentials.json